*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #a49c9c;
}

a:hover{
  color: black;
}

strong{
  color: #000;
}

.container{
  width: 80%;
  margin: auto;
}

header{
  background-color: rgb(243, 244, 245);
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#left a, #right a{
  padding: 10px;
  font-size: 20px;
}

#top-nav,#top-nav div,#top-nav h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav ul li{
  display: inline-block;
  margin: 30px;
}

.button{
  display: inline-block;
  background-color: black;
  color: #fff;
  border-radius: 15px;
  padding: 15px;
  font-size: 20px;
}

.button:hover{
  color: #fff;
  background-color: #0000009c;
}

#top-nav h1{
  margin-right: 65px;
}

.drop-down{
  position:relative;
}

.drop-down-content{
  box-shadow: 1px 1px 1px 1px #00000040;
  background-color: #fff;
  position:absolute;
  top: 20px;
  left: -20px;
  width: 203px;
  border-radius: 5px;
}

#top-nav .drop-down-content ul li{
  margin: 20px;
}

#top-nav .drop-down .drop-down-content{
  display: none;
}

#jumbo{
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items:center;
}

#fondi{
  width: 40%;
  min-width:480px;
}

#fondi h2{
  font-size: 80px;
}

#fondi p{
  color: #a49c9c;
  padding: 20px 0 20px;
}

#fondi strong{
  font-size: 20px;
}

#fondi input{
  border: 0;
  border-bottom: solid 1px;
  margin: 0px 20px;
  font-size: 25px;
}

#img-jumbo{
  width: 50%;
}

img{
  max-width: 80%;
}

#top-nav-xs{
  display: none;
}

#top-nav-xs i{
  color: #000;
}
.hamburger-dropdown-parent{
  position: relative;
}

.hamburger-dropdown{
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.hamburger-dropdown #top-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 244, 245);
  padding: 0 2%;
}

.item{
  margin: 30px;
}

.item ul {
  list-style: none;
  display: none;
}

#top-nav-xs #top-dropdown .item ul li a{
  color:#a49c9c;
}

.close{
  text-align: right;
  padding: 20px;
  font-size: 35px;
}

@media all and (max-width: 1200px) {
  #jumbo{
    flex-wrap: wrap;
  }
  .number{
    display: none
  }
  #top-nav,#top-nav div,#top-nav h1{
    display: none;
  }
  #top-nav-xs{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
